.app {
    width: 100vw;
}

.sidebar {
    display: inline-block;
    width: 15%;
    min-width: 150px;
    background-color: deepskyblue;
    height: 100%;
    padding: 0 !important;
}

.main-content {
    display: inline-block;
    margin-left: max(15%, 150px);   /* Ensure margin is in sync with sidebar */
    width: calc(100% - max(15%, 150px));    /* Ensure width is in sync with sidebar */
    min-width: 400px;
    height: 100%;
    padding: 0 !important;
}
