.app {
    height: 100vh;
    width: 100vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 !important;
}

.title {
    width: 100%;
    height: 10%;
    padding: 1rem;
    font-size: 2.6rem;
}

.content {
    width: 100%;
    height: 90%;
    margin: 0;
}

body {
    background-color: whitesmoke !important;
}

.block {
    /* margin: 0.5rem; */
    background-color: white;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    overflow: scroll;
}

.block-title {
    font-size: 1.6rem;
}

.sidebar {
    flex: 0.15 0 !important;
    background-color: deepskyblue;
    height: 100%;
    padding: 0 !important;
}

.sidebar-item {
    display: flex ;
    justify-content: center;
    margin: 1rem;
}

.sidebar-link {
    position: relative;
    padding: 1rem;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.sidebar-active-marker {
    width: 5px;
    height: 1.5rem;
    background-color: white;
    position: absolute;
    right: 5px;
}

.sidebar-title {
    text-align: center;
}

.main-content {
    flex: 0.85 0 !important;
    height: 100%;
    padding: 0 !important;
}

.disabled {
    cursor: default;
    opacity: 0.5;
}
